*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*Utilities*/

.flex {
    display: flex;
}

/*Aside*/

#container {
    width: 100vw;
    height: calc(100vh - 100px);
}

#container aside {  
    background-color: black;
    color: #888a8e;
    font-weight: bold;
    width: 250px;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

#container aside img {
    width: 70%;
}

#container aside nav {
    flex-direction: column;
    margin: 1rem 0;
}

#container aside a {
    text-decoration: none;
    color: #888a8e;
}

#container aside #playlist h3 {
    text-transform: uppercase;
    color: white;
}

#container aside #playlist #button-playlist {
    align-items: center;
    margin-top: .5rem;
}

#container aside #playlist #button-playlist button {
    padding: .5rem .7rem;
    background-color: #a3a3a3;
    margin-right: .5rem;
}

#container aside #playlist ul {
    list-style-type: none;
}

#container aside nav div,
#container aside #playlist ul li,
#container aside #profile i,
#container aside #profile a,
#container aside h3 {
    padding: .5rem 0;
}

#container aside #profile div.flex {
    margin-top: .5rem;
    align-items: center;
}

#container aside #profile img {
    background-color: #888a8e;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: .5rem;
}

#container aside #profile hr,
#container aside #profile h3 {
    border-color: #888a8e;
    color: white;
}

/*Main*/

#container main {
    background-color: #141922;
    width: calc(100% - 250px);
    overflow-y: auto;
}

/*Header*/

#container main header {
    background-color: #080b12;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

#container main header a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: .5rem 2rem;
    border-radius: 25px;
    text-transform: uppercase;
}

#container main header a:hover {
    scale: 1.1;
}

/*Nav*/

#container main nav {
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 0 1rem;
}

#container main nav a {
    text-decoration: none;
    color: #888a8e;
    text-transform: uppercase;
}

#container main nav a:hover,
#container aside #playlist #button-playlist:hover,
#container aside #playlist ul li:hover,
#container aside a:hover {
    color: white;
}

/*Sections*/

#container main section {
    padding: 1rem;
    color: white;
}

#container main section div {
    gap: 0 1rem;
    margin: 1rem 0;
}

#container main section div figure {   
    width: calc(100% / 6 - 1rem);
    text-align: center;
}

#container main section div figure img {
    width: 100%;
}

#container main section#artists-suggestions img {
    border-radius: 50%;
}

#container main section h2,
#container main section h3 {
    margin-bottom: 1rem;
}

#container main section p {
    color: #888a8e;
}

figure img:hover {
    opacity: 0.5;
}

/*Footer*/

footer {
    background-color: #282828;
    width: 100vw;
    height: 100px;
    position: fixed;
}

/*Responsive*/

@media screen and (max-width: 992px) {
    #container main section div figure {   
        width: calc(100% / 4 - 1rem);
    }

    #container main section div {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    #container main section div figure {   
        width: calc(100% / 2 - 1rem);
    }
    
    #container main {
        width: calc(100vw - 50px);
    }

    #container aside {  
        width: 50px;
    }
    
    #container aside img,
    #container aside nav a,
    #container aside section {
        display: none;
    }
}